@import url('http://getbootstrap.com/dist/css/bootstrap.css');
 html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.alert.alert-success {
/*            background: #0abb87 !important;
/*           border: 1px solid #0abb87 !important;*/ 
*/            color: #00ff00 !important;
            background: rgba(39, 253, 39, 0.1);
        }

        .alert.alert-danger {
            background: #fd397a !important;
            border: 1px solid #fd397a !important;
            color: #ffffff !important;
        }
.alert.alert-solid-danger {
            background: rgba(253, 39, 39, 0.1);
        }

        .alert.alert-solid-danger .alert-text {
            color: #bf4545;
        }